@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/fennec';
@import './papiee-theme.css';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));
